.Container {
  width: 100%;
  background-image: url('/png/Ticketing_Back.png');
  padding: 200px 150px 100px 150px;
  background-attachment: fixed;
  height: auto;
}

.Choice_Title {
  font-size: 38px;
  color: white;
  font-weight: bold;
}
.PageCheck_Layout {
  display: flex;
  justify-content: space-between;
}
.Choice_Txt {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin: 40px 0;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
