.Layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  padding: 30px 80px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Pretendard Variable';
  z-index: 1;
  background-color: white;
}

.Login,
.Home {
  cursor: pointer;
}

.User {
  display: flex;
}
.UserProfile {
  width: 2vw;
  border-radius: 5px;
}
.UserName {
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
