.Container {
  height: calc(100vh);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 78px;
  background-image: url('/loginIMG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Title {
  padding-top: 160px;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 115px;
  text-align: center;
  color: #000000;
  margin-bottom: 60px;
}
.subTitle {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 62px;
  /* or 67% */
  text-align: center;
  color: #484e5a;
}

.ScrollDown {
  width: 60px;
  animation: bounce_frames 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}
@keyframes bounce_frames {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 50px, 0);
  }
}
.secondTitle {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.6;
  color: #191f28;
  text-align: center;
  height: 700px;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard Variable';
}

/* 두번째 페이지 */

.second_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh);
  padding-left: 14vw;
}
.mainTxt2_1 {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 80px;
  color: blue;
}
.mainTxt2_2 {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 80px;
  color: #000000;
}

.right_Container {
  margin-right: 14vw;
}
.mainTxt2_3 {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  line-height: 80px;
  color: #000000;
  margin-top: 100px;
}

.ticketImg2 {
  width: 350px;
  filter: drop-shadow(20px 20px 2px rgba(150, 150, 150, 0.25));
}
