.login_Layout {
  height: calc(95vh);
  overflow: hidden;
  background-image: url('/loginIMG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Pretendard Variable';
  display: flex;
  justify-content: space-between;
}
.login_Txt {
  margin-top: 8.3vw;
  margin-left: 17.3vw;
}
.login_Txt1 {
  font-weight: 600;
  font-size: 33px;
  line-height: 5vw;
  color: blue;
}
.login_Txt2 {
  font-weight: 600;
  font-size: 43px;
  line-height: 5.5vw;
  color: #000000;
}

.OauthBox {
  margin-top: 13.8vw;
  margin-right: 24.3vw;
}

.oauth_Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27.7778vw;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Pretendard Variable';
}

.oauth_Box1,
.oauth_Box2,
.oauth_Box3 {
  width: 20.8333vw;
  border-radius: 10px;
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px rgba(150, 150, 150, 0.25);
  cursor: pointer;
  position: relative;
}

.oauth_Box1 {
  background-color: #6dba24;
}
.oauth_Box2 {
  background-color: #f8e52e;
}
.oauth_Box3 {
  background-color: #ffffff;
}
.oauth_Logo {
  width: 40px;
  z-index: 0;
}
.oauth_Txt {
  opacity: 0%;
  position: absolute;
  z-index: 1;
}
.oauth_Box1:hover .oauth_Logo,
.oauth_Box2:hover .oauth_Logo,
.oauth_Box3:hover .oauth_Logo {
  opacity: 0%;

  transition-duration: 1s;
}
.oauth_Box1:hover .oauth_Txt,
.oauth_Box2:hover .oauth_Txt,
.oauth_Box3:hover .oauth_Txt {
  opacity: 100%;
  transition-duration: 3s;
  font-size: 20px;
}

.login_Title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #f0d7c2;
  width: 70%;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 639px) {
  .login_Layout {
    flex-direction: column;
  }
  .login_Txt1 {
    font-size: 18px;
  }
  .login_Txt2 {
    font-size: 28px;
  }
  .OauthBox {
    margin: 0 auto;
  }
  .oauth_Layout {
    width: 350px;
    height: 500px;
    margin-bottom: 40px;
  }

  .oauth_Box1,
  .oauth_Box2,
  .oauth_Box3 {
    width: 250px;
  }
}
