.Seaarch_layout {
  padding: 0 120px 0 120px;
}

.Search_Result {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
  align-items: center;
  padding-bottom: 30px;
}
.Search_Text {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}
.Search_subTxt {
  font-size: 16px;
}
.Result_Layout {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.Result {
  width: 250px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  cursor: pointer;
}
.Result:hover {
  border: 1px solid black;
  transition-duration: 1s;
}

.Result_Title {
  text-align: center;
}
.Result_Poster_Layout {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.Result_Poster {
  border-radius: 10px;
  width: 200px;
  height: 290px;
}
