.Layout {
  width: 100%;
  background-image: url('/png/배경3.png');
  padding: 150px 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.TicketRoom {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.User {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.UserProfile {
  width: 50px;
  border-radius: 10px;
  margin-right: 30px;
}
.UserName {
  font-size: 24px;
  font-weight: bold;
}

.Support_Txt {
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin: 40px;
}
.emptyTicket {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50%;
  cursor: pointer;
}
.emptyTxt {
  font-size: 24px;
  font-weight: bold;
}
.empty_SubTxt {
  color: grey;
  margin-top: 20px;
}
.Search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myMovies_Layout {
  height: 100vh;
  width: 100%;
}
.Movies_Layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  justify-content: center;
  padding: 0 100px;
}

.Movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Posters {
  width: 220px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.MovieTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 18px;
  font-weight: bold;
}
.Posters:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}
.AddTicket {
  cursor: pointer;
}
.AddTicket_Search {
  position: absolute;
}
