.container {
  position: fixed;
  width: 100px;
  bottom: 0;
  right: 0;
  background: none;
  margin: 20px;
  cursor: pointer;
}
.goToTop {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  width: 44px;
  cursor: pointer;
}

.Ticketing,
.MyTicket,
.Logout {
  position: fixed;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 10px;
  width: 90px;
  height: 27px;
  font-weight: bold;
  transition-duration: 1s;
}
.Logout {
  right: 9%;
  bottom: 4%;
  background-color: grey;
}
.Logout:hover {
  background-color: red;
  height: 30px;
}
.MyTicket {
  right: 9%;
  bottom: 8%;
}
.Ticketing {
  right: 9%;
  bottom: 12%;
}
.MyTicket:hover,
.Ticketing:hover {
  background-color: white;
  color: black;
  height: 32px;
  border: 1px solid black;
}
