.container {
  position: fixed;
  width: 6.94vw;
  bottom: 0;
  right: 0;
  background: none;
  margin: 1.38vw;
  cursor: pointer;
  transition-duration: 1s;
}

.goToTop {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1.38vw;
  width: 3.1vw;
  cursor: pointer;
  z-index: 5;
}

.Ticketing,
.MyTicket,
.Logout {
  position: fixed;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 0.7vw;
  width: 6.25vw;
  height: 1.87vw;
  font-weight: bold;
  font-size: 1.1vw;
  transition-duration: 1s;
}
.Logout {
  right: 9%;
  bottom: 4%;
  background-color: grey;
}
.Logout:hover {
  background-color: red;
}
.MyTicket {
  right: 9%;
  bottom: 8%;
}
.Ticketing {
  right: 9%;
  bottom: 12%;
}
.MyTicket:hover,
.Ticketing:hover {
  background-color: white;
  color: black;

  border: 1px solid black;
}

@media all and (min-width: 531px) and (max-width: 840px) {
  .container {
    width: 12.94vw;
  }
  .goToTop {
    width: 7vw;
  }
  .Ticketing,
  .MyTicket,
  .Logout {
    width: 10.25vw;
    height: 3.8vw;
    font-size: 1.7vw;
  }
  .Logout {
    right: 16%;
    bottom: 2%;
  }

  .MyTicket {
    right: 16%;
    bottom: 6%;
  }
  .Ticketing {
    right: 16%;
    bottom: 10%;
  }
}
@media all and (max-width: 530px) {
  .container {
    width: 11.94vw;
    margin-bottom: 5vw;
    margin-right: 3vw;
  }
  .goToTop {
    width: 9vw;
    margin-bottom: 5vw;
    margin-left: 3vw;
  }
  .Ticketing,
  .MyTicket,
  .Logout {
    width: 14.25vw;
    height: 4.6vw;
    font-size: 2.5vw;
    border-radius: 2vw;
  }
  .Logout {
    right: 17%;
    bottom: 3%;
  }
  .Logout:hover {
    height: 5vw;
  }
  .MyTicket {
    right: 15%;
    bottom: 6%;
  }
  .Ticketing {
    right: 13%;
    bottom: 9%;
  }
  .MyTicket:hover,
  .Ticketing:hover {
    height: 5vw;
  }
}

/* 페이지 체크 */

.PageCheck {
  display: flex;
}
.Page1,
.Page2,
.Page3,
.Page4 {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: #939393;
  font-size: 15px;
}
.ActivePage {
  background-color: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 15px;
}

/* 로딩창 */

/* 모달창의 배경을 만든다 */
.Modal_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.8); */
  background: black;
  z-index: 1;
}

/* 모달창 영역을 꾸민다 */
.Modal_Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loding_Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Loder_Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Loding_Txt {
  color: white;
  font-size: 26px;
  font-weight: bold;
}
.loader {
  width: 16px;
  height: 16px;
  position: relative;
  left: -32px;
  border-radius: 50%;
  color: #fff;
  background: currentColor;
  box-shadow: 32px 0, -32px 0, 64px 0;
  margin-top: 50px;
  margin-left: 20px;
}

.loader::after {
  content: '';
  position: absolute;
  left: -32px;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #ff3d00;
  animation: move 3s linear infinite alternate;
}

@keyframes move {
  0%,
  5% {
    left: -32px;
    width: 16px;
  }
  15%,
  20% {
    left: -32px;
    width: 48px;
  }
  30%,
  35% {
    left: 0px;
    width: 16px;
  }
  45%,
  50% {
    left: 0px;
    width: 48px;
  }
  60%,
  65% {
    left: 32px;
    width: 16px;
  }

  75%,
  80% {
    left: 32px;
    width: 48px;
  }
  95%,
  100% {
    left: 64px;
    width: 16px;
  }
}
.loader1 {
  color: #fff;
  position: relative;
  display: inline-block;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 4px;
  box-sizing: border-box;
}
.loader1::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  right: 70px;
  bottom: 10px;
  height: 24px;
  width: 5.15px;
  background: currentColor;
}
.loader1::after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  left: 125px;
  top: 2px;
  border-radius: 50%;
  background: red;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
  0% {
    transform: translateY(8px) scaleY(1) scaleX(1.25);
  }
  25%,
  75% {
    transform: translateY(-5px) scaleY(1.2) scaleX(1);
  }
  50% {
    transform: translateY(-10px) scaleY(1) scaleX(1);
  }
  100% {
    transform: translateY(8px) scaleY(0.8) scaleX(0.8);
  }
}
