.container {
  position: fixed;
  width: 6.94vw;
  bottom: 0;
  right: 0;
  background: none;
  margin: 1.38vw;
  cursor: pointer;
  transition-duration: 1s;
}

.goToTop {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1.38vw;
  width: 3.1vw;
  cursor: pointer;
}

.Ticketing,
.MyTicket,
.Logout {
  position: fixed;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 0.7vw;
  width: 6.25vw;
  height: 1.87vw;
  font-weight: bold;
  font-size: 1.1vw;
  transition-duration: 1s;
}
.Logout {
  right: 9%;
  bottom: 4%;
  background-color: grey;
}
.Logout:hover {
  background-color: red;
  height: 2vw;
}
.MyTicket {
  right: 9%;
  bottom: 8%;
}
.Ticketing {
  right: 9%;
  bottom: 12%;
}
.MyTicket:hover,
.Ticketing:hover {
  background-color: white;
  color: black;
  height: 2.22vw;
  border: 1px solid black;
}

@media all and (min-width: 531px) and (max-width: 840px) {
  .container {
    width: 12.94vw;
  }
  .goToTop {
    width: 7vw;
  }
  .Ticketing,
  .MyTicket,
  .Logout {
    width: 10.25vw;
    height: 3.8vw;
    font-size: 1.7vw;
  }
  .Logout {
    right: 16%;
    bottom: 2%;
  }
  .Logout:hover {
    height: 3vw;
  }
  .MyTicket {
    right: 16%;
    bottom: 6%;
  }
  .Ticketing {
    right: 16%;
    bottom: 10%;
  }
  .MyTicket:hover,
  .Ticketing:hover {
    height: 3vw;
  }
}
@media all and (max-width: 530px) {
  .container {
    width: 11.94vw;
    margin-bottom: 5vw;
    margin-right: 3vw;
  }
  .goToTop {
    width: 9vw;
    margin-bottom: 5vw;
    margin-left: 3vw;
  }
  .Ticketing,
  .MyTicket,
  .Logout {
    width: 14.25vw;
    height: 4.6vw;
    font-size: 2.5vw;
    border-radius: 2vw;
  }
  .Logout {
    right: 17%;
    bottom: 3%;
  }
  .Logout:hover {
    height: 5vw;
  }
  .MyTicket {
    right: 15%;
    bottom: 6%;
  }
  .Ticketing {
    right: 13%;
    bottom: 9%;
  }
  .MyTicket:hover,
  .Ticketing:hover {
    height: 5vw;
  }
}
