.Movie_Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 50px;
  justify-content: center;
  padding: 0 30px;
}
.movies {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 460px;
}
.moviePoster_Layout {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}

.moviePoster {
  width: 250px;
  height: 380px;
  position: relative;
  border-radius: 7px;
}

.moviePoster_Layout:hover > .moviePoster {
  transform: scale(1.05);
  transition-duration: 1s;
  filter: brightness(23%);
}

.movieContents_display {
  position: absolute;
  display: none;
}
.movieContents_Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  height: 320px;
  width: 200px;
}
.Contentes_Title {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.movieContents {
  overflow-y: auto;
  color: white;
  line-height: 1.5;
  height: 180px;
  margin: 20px 0;
}
.movieContents::-webkit-scrollbar {
  width: 5px;
}
.movieContents::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}
.movieContents::-webkit-scrollbar-track {
  background-color: grey;
}

.moviePoster_Layout:hover > .movieContents_display {
  display: block;
  transition-duration: 1s;
}

.Btn {
  background-color: white;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.Btn:hover {
  background-color: #f15b3a;
  color: white;
  transition-duration: 1s;
  font-weight: bold;
}

.movieTitle {
  font-size: 1.18vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 240px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
