.Map_Container {
  width: 1000px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.current_location {
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin: 0 0 10px 20px;
  cursor: pointer;
}

.kakaoMap {
  border-radius: 10px;
  position: relative;
}

.Theater_Marker {
  background-color: black;
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  height: 500px;
  width: 300px;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

.NextBtn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 10px 10px 0;
  background-color: rgb(171, 170, 170);
  padding: 10px;
  border-radius: 10px;
  z-index: 3;
}
.NextBtn:hover {
  background-color: #f15b3a;
  color: white;
  font-weight: bolder;
  transition-duration: 1s;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 5%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  left: 5%;
}
.close:hover {
  transform: scale(1.25);
  transition-duration: 1s;
}

.Theater_Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Theater_Title {
  margin-top: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* 맵 티켓 */

.Ticket_Info {
  width: 180px;
  height: 280px;
  border: 3px solid black;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.Ticket_Info_Title,
.Ticket_Info_Seat {
  height: 120px;
}
.Ticket_Info_Release {
  height: 160px;
}

.Ticket_Info_Title,
.Ticket_Info_Release {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.Ticket_Info_Seat {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.Txt_Title {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 8px;
}
.Txt_Conetent_Title {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 170px;
}
.Txt_Conetent {
  line-height: 2;
  font-size: 12.5px;
  color: white;
}

.Ticket_Box_MovieInfo2 {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.Ticket_Box_Poster2 {
  width: 200px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: invert(35%);
}

.Ticket_Circle {
  position: absolute;
  z-index: 2;
  width: 240px;
  height: 390px;
}
