.Container {
  width: 100%;
  background-attachment: fixed;
  padding: 150px 150px 0 150px;
  background: linear-gradient(
      254.01deg,
      rgba(0, 0, 0, 0) 31.07%,
      rgba(0, 0, 0, 0) 31.07%,
      #000000 49.48%
    ),
    url('/Ticketing_Back.png');
}

.Boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0;
}
.Pay_Coment {
  font-size: 30px;
  font-weight: bold;
  color: white;
  line-height: 1.4;
  margin-bottom: 20px;
}
.Ticket_Container {
  display: flex;
}

.Charge {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin: 30px;
  display: flex;
  justify-content: flex-end;
}

.Payment {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  border-radius: 10px;
  background-color: white;
}
.Payment_Title {
  background-color: antiquewhite;
  padding: 20px 0 20px 20px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}
.Payment_Way_Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.charactor {
  position: absolute;
  height: 400px;
  right: 0;
  bottom: 0;
}
.Payment_Way {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.Payment_Toss,
.Payment_KaKao,
.Payment_Naver {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}
.Payment_Toss:hover,
.Payment_KaKao:hover,
.Payment_Naver:hover {
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(20px);
  }
  60% {
    transform: translateX(5px);
  }
}

.Payment_Confirmation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}
.pay_Btn {
  cursor: pointer;
  z-index: 1;
}
