.Time_Layout {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Time_Boxes {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.Time_Box {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  width: 160px;
  height: 100px;
  cursor: pointer;
}
.Time {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.Seat {
  display: flex;
  justify-content: center;
  height: 50px;
  padding-top: 10px;
  background-color: #ecdddd;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
.Out_Seat {
  color: green;
  font-weight: bold;
}
.Seat_Slash {
  margin: 0 5px 0 5px;
}
