.contents {
  padding: 50px 120px 60px;
}

.chartTitle {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.moviePoster {
  width: 170.4px;
  height: 240px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movieSlider {
  margin-left: 10px;
}
