.Container {
  border-top: 1px solid #eee;
  margin-top: 2vw;
  padding: 3.47vw 8.3vw 4.2vw;
}
.Content_Layout {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 3vw;
  margin-top: 30px;
}
.slider_control {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 42px;
  z-index: 2;
}
.Slider_Layout {
  width: 48.6vw;
  height: 27.7vw;
}

.Slider_Photo:hover > .rightPhoto {
  transform: scale(1.08);
  transition-duration: 1s;
}

.leftPhoto {
  width: 20.8vw;
  height: 20.8vw;
}
.rightPhoto {
  width: 26.7vw;
  height: auto;
}

.Slider_Photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48.6vw;
  height: auto;
  position: relative;
}

.event_ticketTxt {
  position: absolute;
  left: 2.5%;
  bottom: 5%;
  font-weight: bold;
  line-height: 1.8;
}
.event_ticket_SubTxt {
  font-size: 10px;
  color: rgb(156, 156, 156);
}

.singlePhoto {
  height: 20.8vw;
  max-width: 48.6vw;
  border-radius: 1.4vw;
  width: auto;
}

.User {
  width: 32vw;
  height: 41.6vw;
  height: auto;
  border: 1px solid #cfcccc;
  background-color: white;
  position: absolute;
  right: 0;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 27.7vw;
  width: auto;
}
.loginBox_txt {
  color: #776e6e;
  text-align: center;
}
.naver,
.kakao,
.google {
  width: 20.8vw;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #cfcccc;
  padding: 8px;
  cursor: pointer;
}

.login_Logo {
  width: 3.47vw;
  height: auto;
  border-radius: 10px;
  margin-right: 3.47vw;
}
.naver {
  background-color: #6dba24;
  color: white;
}
.kakao {
  background-color: #f8e52e;
}

.naver:hover,
.kakao:hover,
.google:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}

.Box_Layout {
  display: flex;
  position: absolute;
  left: 3.5%;
  bottom: -45%;
}
.left_Box {
  width: 28.4vw;
  height: 13.8vw;
  background-color: black;
  margin-right: 1.4vw;
  border-radius: 1.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.poster {
  width: 24.3vw;
  position: relative;
  cursor: pointer;
  border-radius: 1.4vw;
  height: auto;
}
.poster:hover {
  width: 26.3vw;
  height: auto;
  transition-duration: 1s;
}

.poster_Txt {
  position: absolute;
  color: white;
  left: 2%;
  top: 15%;
  line-height: 2;
}
.right_Box {
  width: 17.3vw;
  height: 13.8vw;
  background-image: url('/avif/home/λ¬Έν™”μλ‚ .avif');
  border-radius: 1.4vw;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.AferLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.AferLogin_User {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: auto;
}
.Detail_User {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.UserRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ModalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it is on top of other elements */
}

.ModalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.ModalContent img {
  max-width: 60%; /* Ensure the image doesn't exceed the container width */
  height: auto;
}

.ModalBackground:hover {
  cursor: pointer;
}

.subTxt {
  font-size: 10px;
  color: gray;
  cursor: pointer;
}

.subTxt:hover {
  color: black;
  transform: scale(1.05);
  transition-duration: 1s;
  font-weight: bold;
}

.ratingPNG {
  width: 60px;
  z-index: 1;
  position: absolute;
  height: auto;
  bottom: -20%;
  right: -20%;
}
.UserProfile {
  width: 150px;
  height: auto;
  border-radius: 10px;
  border: 4px solid rgb(0, 0, 0);
}
.UserName {
  font-weight: bold;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  height: auto;
  padding: 10px 0;
  border-radius: 5px;
}
.UserBox {
  width: 13.8vw;
  height: 12.5vw;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #cfcccc;
  display: flex;
  padding: 1.4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.recent_Movie_Box {
  display: flex;
}

.recent_Movie {
  border-radius: 10px;
  width: 12.6vw;
  height: 17.4vw;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
}
.recent_Movie_bar {
  width: 100%;
  padding-left: 1.4vw;
  height: auto;
  display: flex;
}
.EmptyMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.EmptyMovie_Txt {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 18px;
  font-weight: bold;
}
.WarningLine {
  width: 32vw;
  height: 12.5vw;
  position: relative;
}
.EmptyMovie_SubTxt {
  font-size: 12px;
  color: gray;
  text-align: center;
  line-height: 1.5;
  margin-top: 5px;
}
