.header {
  position: relative;
  z-index: 101;
}
.header_content {
  margin-bottom: 3.5vw;
  padding: 0 8.3vw;
  border-bottom: 1px solid #eee;
}

.logo {
  width: 11vw;
  height: 4vw;
}
.Logo_Content {
  display: flex;
}

.conetent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0.4vw 1.7vw 0.34vw;
}
.headerInfo {
  display: flex;
  align-items: center;
}

.ticketing,
.myTickets,
.User {
  font-size: 0.9vw;
}
.ticketing,
.myTickets {
  color: gray;
  border-right: 1px solid rgb(187, 187, 187);
  display: flex;
  justify-content: center;
  width: 10vw;
}
.ticketingTxt:hover,
.myTicketTxt:hover {
  transform: scale(1.05);
  transition-duration: 1s;
  color: black;
}

.UserProfile {
  width: 4.17vw;
  border-radius: 5px;
}
.UserName {
  margin-top: 10px;
}
.User {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
}
.Login {
  width: 10vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .ticketing,
  .myTickets {
    display: none;
  }
  .logo {
    width: 30vw;
    height: 10vw;
  }
  .UserProfile {
    width: 7.17vw;
  }
}
