.header {
  position: relative;
  z-index: 101;
}
.header_content {
  margin-bottom: 3.5vw;
  padding: 0 8.3vw;
  border-bottom: 1px solid #eee;
}

.logo {
  width: 15vw;
  height: 6vw;
}
.Logo_Content {
  display: flex;
}

.conetent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0.4vw 1.7vw 0.34vw;
}
.headerInfo {
  display: flex;
  align-items: center;
}
.headerInfo > li {
  margin-left: 3.05vw;
}
.ticketing,
.myTickets,
.User {
  font-size: 1.1vw;
}
.Textarea {
  width: 280px;
  resize: none;
  border: none;
  outline: none;
  line-height: 27px;
  overflow: hidden;
  overflow-wrap: inherit;
  font-size: 16px;
  margin-left: 10px;
}
.search_width {
  width: 350px;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border: 3px solid #eee;
  cursor: text;
}
.search {
  width: 2.5vw;
  cursor: pointer;
}
.UserProfile {
  width: 4.17vw;
}
.UserName {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .ticketing,
  .myTickets {
    display: none;
  }
  .logo {
    width: 30vw;
    height: 10vw;
  }
  .UserProfile,
  .search {
    width: 7.17vw;
  }
}

.Testbox {
  background-color: white;
  width: 350px;
  border-radius: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: absolute;
}
.Testbox::-webkit-scrollbar {
  display: none;
}

.Search_ul {
  padding: 20px;
}
.movieTitle_search {
  font-size: 16px;
  line-height: 3.4;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.movieTitle_search:hover {
  background-color: #eee;
  border-radius: 5px;
}

.Login {
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
