.header {
  position: relative;
  z-index: 101;
}
.header_content {
  margin-bottom: 3.5vw;
  padding: 0 8.3vw;
  border-bottom: 1px solid #eee;
}

.logo {
  width: 12vw;
  height: 4vw;
}

.conetent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0.4vw 1.7vw 0.34vw;
}
.headerInfo {
  display: flex;
  align-items: center;
}
.headerInfo > li {
  margin-left: 3.05vw;
}
.ticketing,
.myTickets,
.UserName {
  font-size: 1.1vw;
}
.search {
  width: 2.5vw;
}
.UserProfile {
  width: 4.17vw;
}

@media screen and (max-width: 600px) {
  .ticketing,
  .myTickets {
    display: none;
  }
  .logo {
    width: 30vw;
    height: 10vw;
  }
  .UserProfile,
  .search {
    width: 7.17vw;
  }
}
