.header {
  position: relative;
  z-index: 101;
}
.header_content {
  margin-bottom: 3.5vw;
  padding: 0 8.3vw;
  border-bottom: 1px solid #eee;
}

.logo {
  width: 15vw;
  height: 6vw;
}
.Logo_Content {
  display: flex;
}

.conetent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0.4vw 1.7vw 0.34vw;
}
.headerInfo {
  display: flex;
  align-items: center;
}
.headerInfo > li {
  margin-left: 3.05vw;
}
.ticketing,
.myTickets,
.User {
  font-size: 1.1vw;
}

.UserProfile {
  width: 4.17vw;
  border-radius: 5px;
}
.UserName {
  margin-top: 10px;
  font-size: 16px;
  display: flex;
  align-items: flex-end;

  margin-left: 10px;
}
.User {
  display: flex;
}
.Login {
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .ticketing,
  .myTickets {
    display: none;
  }
  .logo {
    width: 30vw;
    height: 10vw;
  }
  .UserProfile {
    width: 7.17vw;
  }
}
