.Layout {
  border-top: 1px solid #eee;
  padding: 50px 20px;
}
.Title {
  display: flex;
  justify-content: space-around;
}
.Boxes {
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.LeftBox,
.RightBox {
  border-radius: 20px;
  width: 500px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.poster,
.UserPhoto {
  width: 180px;
  border-radius: 20px;
}
.recentTxt,
.MyTxt {
  line-height: 3;
}
.UserName {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
