.allContents {
  position: relative;
  height: 34.7vw;
  background-color: #000;
  padding: 0.7vw 0px;
}

.preview {
  color: white;
  width: 68vw;
  height: 100%;
  margin: 0 auto;
}
.video {
  border: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  top: 11.9vw;
  left: 8.3vw;
  font-weight: bold;
  font-size: 2.77vw;
  color: #fff;
  line-height: 1.45em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.72);
  z-index: 2;
}
.txt {
  display: -webkit-box;
  overflow: hidden;
  position: absolute;
  top: 16.59vw;
  left: 8.3vw;
  max-width: 100%;
  font-size: 1.4vw;
  color: #fff;
  line-height: 1.45em;
  text-overflow: ellipsis;
  z-index: 3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Ticketing {
  display: inline-flex;
  position: absolute;
  align-items: center;
  top: 22vw;
  left: 8vw;
  z-index: 4;
  background-color: black;
  border: none;
  color: white;
  font-size: 1.1vw;
  font-weight: bold;
  transition-duration: 1s;
  border-radius: 10px;
  height: 2.1vw;
  width: 8.9vw;
  cursor: pointer;
}
.Ticketing:hover {
  background-color: red;
  padding-left: 3.2vw;
}
.TicketingTxt {
  font-size: 1.25vw;
}
