.allContents {
  position: relative;
  height: 34.7vw;
  background-color: #000;
  padding: 0.7vw 0px;
}

.preview {
  color: white;
  width: 68vw;
  height: 100%;
  margin: 0 auto;
}
.video {
  border: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  top: 11.9vw;
  left: 8.3vw;
  font-weight: bold;
  font-size: 2.77vw;
  color: #fff;
  line-height: 1.45em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.72);
  z-index: 2;
}
.txt {
  display: -webkit-box;
  overflow: hidden;
  position: absolute;
  top: 16.59vw;
  left: 8.3vw;
  max-width: 100%;
  font-size: 1.4vw;
  color: #fff;
  line-height: 1.45em;
  text-overflow: ellipsis;
  z-index: 3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Ticketing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 27vw;
  left: 8vw;
  z-index: 4;
  background-color: black;
  border: none;
  color: white;
  border-radius: 0.7vw;
  height: 2.4vw;
  width: 8vw;
  cursor: pointer;
}
.Ticketing:hover {
  background-color: red;
  transform: scale(1.05);
  transition-duration: 1s;
}
.TicketingTxt {
  font-size: 1.4vw;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .Ticketing {
    width: 11.9vw;
  }
  .allContents {
    height: 60.7vw;
  }
  .preview {
    width: 80vw;
  }
  .title {
    top: 20.9vw;
    left: 8.3vw;
    font-size: 4.77vw;
    line-height: 1.45em;
  }
  .txt {
    top: 27.59vw;
    left: 8.3vw;
    font-size: 2.4vw;
    line-height: 2.45em;
  }
  .Ticketing {
    top: 42vw;
    left: 8vw;
    height: 4.4vw;
    width: 12.9vw;
  }
}
